<!DOCTYPE html>
<html >
<head>
<!--    <meta charset="UTF-8">-->
    <meta http-equil="Content-type" content="text/html; charset=UTF-8"/>
    <title>Getting started: Serving web content</title>
</head>
<body>
<div>Hello, my friend {{name}}</div>
</body>
</html>